* {
    padding: 0;
    margin: 0;   
}

.MainTitle {
    display: inline; 
    white-space: nowrap;
    margin-left: 10px;
}

.navbar-brand {
  padding: 0px;
}

.navbar-brand>img {
  height: 100%;
  padding: 0px;
  width: auto;
}

.overlay{
    display: block;
    width: 100%;
    background-color: black;
    opacity: 0.2;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

html, body{
    height:100%;
    background-color: #000000;
}

.carousel,
.item,
.active {
    height: 100%;
}

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    /*-o-background-size: cover;*/
}

.carousel,
.carousel-inner {
	width:100%;
	height:100%;
	z-index:0;
	overflow:hidden;
}

.main-heading{
    color: white;
    font-size: 60px;
}

.small-heading{
    color: white;
    font-size: 25px;
}

.title{ color:white; font-size:40px; }

.carousel-caption {
    width: 100%;
    left: 0;
    right: 0;
    top: 200px;
    bottom: 100px;
}

.intro-body {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -390px;
    margin-top: -140px;
}

@media(max-width: 768px) {


    .intro-body{
        left: 9%;
        margin-left: -40px;
    }

    .main-heading {
        font-size: 50px;
    }

    .small-heading {
        font-size: 20px;
    }


}

.aboutUs {
    position: relative;
    padding: 50px 0;
    top: 0;
    left: 0;
    background-color: #000000;
}




h1, h2, h3, h4, h5, p {
    color: white;
}


hr{
    border-color: #DAA520;
	border-width: 5px;
	width: 100px;
    max-width: 100px;
    margin: 25px auto;
    border-bottom: none;    
}

.block-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.paragraph {
    padding: 0 50px;
}


.service, .diversity, .spirituality {
    height: 300px;
    padding: 0;
}


.pillars {
    
    padding: 80px 0 80px;
    text-align: center;
}

.pillars h2,
.pillars h4 {
    
    /*color: #4c4c4c;*/
    margin: 20px 0 20px;
}

.pillars h2{
    padding: 25px;
}


.pillars p {
    
    /*color: #737373;*/
    font-size: 14px;
    padding-bottom: 40px;
}


.pillars i {
    
    height: 80px;
    width: 80px;
    font-size: 30px;
    padding: 25px 20px;
    border-radius: 65%;
    background-color: black;
    color: white;
}

/**CSS FOR THE RING**/

.glyphicon-ring {
  /*width: 60px;
  height: 60px;*/
  border-radius: 50%;
  border: 4px solid white;
  color: white;
  display: inline-table;
  text-align: center;
}
/**CSS FOR ICON WITH NO BACKGROUND COLOR**/

.glyphicon-ring .glyphicon-bordered {
  font-size: 20px;
  vertical-align: middle;
  display: table-cell;
}

@media(max-width:768px) {
    
    .pillars {
        
        padding: 30px;
    }
}


.placements {
    padding: 50px 0;
    background-color: black;
    text-align: center;
}

.placements h1,
.placements h4,
.placements p {
    color: black;

}

.placements img {
    width: 150px;
    margin-top: 40px;
}

@media(max-width:768px) {
    
    .placements {
        
        padding: 30px;
    }
}


/*
.events .carousel-inner img {
    display: block;
    max-height: 400px;
    height: auto;
    min-width: 100%;
    width: 100%;
    max-width: 100%;
    line-height: 1;

}

.events .fill {
    width: 100%;
    height: 100%;
}*/

.events {
    text-align: center;
}

.events img {
    height: 375px;
    padding: 50px;
    text-align: center;
}

.events .caption {
    padding-bottom: 50px;
    padding-left: 50px;
    text-align: left;
}

@media(max-width:768px) {
    
    .events img {
        height: 350px;
        padding: 50px;
        text-align: center;

    }

    .events {
        text-align: center;
    }

    .events .caption {
        padding-top: 0px;
    }
}



.join {
    padding: 50px 0;
    background-color: white;
}

.join .packages {
    
    padding: 30px;
    border: 1px solid #ccc;
    background-color: black;
    border-radius: 5px;
    margin-top: 30px;
}

















